In [52]:
import numpy as np
import pandas as pd
from scipy import stats

In [75]:
# pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\sneha.priya\appdata\roaming\python\python38\site-packages (from seaborn) (1.24.4)
Requirement already satisfied: pandas>=1.2 in c:\users\sneha.priya\appdata\roaming\python\python38\site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\sneha.priya\appdata\local\programs\python\python38\lib\site-packages (from seaborn) (3.7.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sneha.priya\appdata\local\programs\python\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\sneha.priya\appdata\local\programs\python\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sneha.priya\appdata\local\programs\python\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.47.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sneha.priya\appdata\local\programs\python\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\sneha.priya\appdata\roaming\python\python38\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sneha.priya\appdata\local\programs\python\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sneha.priya\appdata\local\programs\python\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sneha.priya\appdata\roaming\python\python38\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\sneha.priya\appdata\local\programs\python\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.1.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\sneha.priya\appdata\roaming\python\python38\site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sneha.priya\appdata\roaming\python\python38\site-packages (from pandas>=1.2->seaborn) (2023.4)
Requirement already satisfied: zipp>=3.1.0 in c:\users\sneha.priya\appdata\roaming\python\python38\site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.17.0)
Requirement already satisfied: six>=1.5 in c:\users\sneha.priya\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
   ---------------------------------------- 0.0/294.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/294.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/294.9 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/294.9 kB 217.9 kB/s eta 0:00:02
   ---- ---------------------------------- 30.7/294.9 kB 217.9 kB/s eta 0:00:02
   ----- --------------------------------- 41.0/294.9 kB 163.4 kB/s eta 0:00:02
   ----- --------------------------------- 41.0/294.9 kB 163.4 kB/s eta 0:00:02
   --------- ----------------------------- 71.7/294.9 kB 218.6 kB/s eta 0:00:02
   ------------ -------------------------- 92.2/294.9 kB 261.7 kB/s eta 0:00:01
   -------------- ----------------------- 112.6/294.9 kB 297.7 kB/s eta 0:00:01
   ------------------ ------------------- 143.4/294.9 kB 315.4 kB/s eta 0:00:01
   ---------------------- --------------- 174.1/294.9 kB 349.3 kB/s eta 0:00:01
   ----------------------------- -------- 225.3/294.9 kB 405.0 kB/s eta 0:00:01
   ------------------------------ ------- 235.5/294.9 kB 400.1 kB/s eta 0:00:01
   -------------------------------- ----- 256.0/294.9 kB 393.2 kB/s eta 0:00:01
   ------------------------------------ - 286.7/294.9 kB 411.4 kB/s eta 0:00:01
   ------------------------------------ - 286.7/294.9 kB 411.4 kB/s eta 0:00:01
   ------------------------------------ - 286.7/294.9 kB 411.4 kB/s eta 0:00:01
   -------------------------------------- 294.9/294.9 kB 364.5 kB/s eta 0:00:00
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [40]:
data = pd.read_csv(r"C:\Users\sneha.priya\OneDrive - Blume Global\Desktop\Tech training\Data Science\Demo Projects\Data\salary_data.csv")

In [41]:
data.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

25. Central Tendencies: Spread, Percentiles, Quartiles, Skewness

In [27]:
data.columns
data.shape

(30, 2)

In [21]:
data.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [22]:
# Central Tendencies
mean_experience = data['YearsExperience'].mean()
mean_salary = data['Salary'].mean()

median_experience = data['YearsExperience'].median()
median_salary = data['Salary'].median()

# Spread
range_experience = data['YearsExperience'].max() - data['YearsExperience'].min()
range_salary = data['Salary'].max() - data['Salary'].min()

variance_experience = data['YearsExperience'].var()
variance_salary = data['Salary'].var()

std_deviation_experience = data['YearsExperience'].std()
std_deviation_salary = data['Salary'].std()

(mean_experience, mean_salary, median_experience, median_salary, range_experience, range_salary, variance_experience, variance_salary, std_deviation_experience, std_deviation_salary)

(5.3133333333333335,
 76003.0,
 4.7,
 65237.0,
 9.4,
 84660,
 8.053609195402299,
 751550960.4137931,
 2.8378881576627184,
 27414.4297845823)

In [25]:
# Percentiles and Quartiles
percentile_25_salary = data['Salary'].quantile(0.25)
percentile_50_salary = data['Salary'].quantile(0.50)  
percentile_75_salary = data['Salary'].quantile(0.75)
(percentile_25_salary, percentile_50_salary, percentile_75_salary)

(56720.75, 65237.0, 100544.75)

In [26]:
# Skewness
skewness_salary = data['Salary'].skew()
skewness_salary

0.35411967922959153

T Test

In [30]:
# A t-test is a type of inferential statistic which is used to determine if there is a significant difference between the
# means of two groups which may be related in certain features

# T-test has 2 types : 1. one sampled t-test 2. two-sampled t-test.

ages=[10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]

In [31]:
len(ages)

32

In [32]:
ages_mean=np.mean(ages)
print(ages_mean)

30.34375

In [33]:
sample_size=10
age_sample=np.random.choice(ages,sample_size)

In [34]:
age_sample

array([16, 43, 16, 24, 35, 21, 43, 30, 14, 28])

In [35]:
from scipy.stats import ttest_1samp
ttest,p_value=ttest_1samp(age_sample,30)

In [92]:
ttest

-0.8816752506454787

In [38]:
print(p_value)

0.4008858606439334

In [39]:
if p_value < 0.05:    
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis

Two - Sample T-test

In [52]:
#  The Independent Samples t Test or 2-sample t-test compares the means of two independent groups in order to determine whether there is statistical evidence that the associated population means are significantly different.
np.random.seed(12)
classA_ages=stats.poisson.rvs(loc=18,mu=30,size=60)
ClassB_ages=stats.poisson.rvs(loc=18,mu=33,size=60)
ClassB_ages.mean()

50.11666666666667

In [53]:
classA_ages.mean()

47.75

In [108]:

_,pvalue_twoSampleTtest=stats.ttest_ind(a=classA_ages,b=ClassB_ages,equal_var=False)

In [109]:
pvalue_twoSampleTtest

0.016441361202033836

In [110]:
if pvalue_twoSampleTtest < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis

Paired T-test

In [60]:
# When you want to check how different samples from the same group are, you can go for a paired T-test
weight1=[25,30,28,35,28,34,26,29,30,26,28,32,31,30,45]
weight2=weight1+stats.norm.rvs(scale=5,loc=-1.25,size=15)

In [61]:
print(weight1)
print(weight2)

[25, 30, 28, 35, 28, 34, 26, 29, 30, 26, 28, 32, 31, 30, 45]
[15.6935255  29.57494424 21.69611891 33.17300315 32.4501934  34.44001222
 27.12757231 40.9452304  32.20553787 30.30617783 25.46157841 24.77024357
 30.87273514 22.93266549 28.67042287]

In [66]:
weight_df= pd.DataFrame({"weight_1":np.array(weight1),
             "weight_2":np.array(weight2),
             "weight_change":np.array(weight2)-np.array(weight1)})

In [67]:
weight_df

    weight_1   weight_2  weight_change
0         25  15.693525      -9.306475
1         30  29.574944      -0.425056
2         28  21.696119      -6.303881
3         35  33.173003      -1.826997
4         28  32.450193       4.450193
5         34  34.440012       0.440012
6         26  27.127572       1.127572
7         29  40.945230      11.945230
8         30  32.205538       2.205538
9         26  30.306178       4.306178
10        28  25.461578      -2.538422
11        32  24.770244      -7.229756
12        31  30.872735      -0.127265
13        30  22.932665      -7.067335
14        45  28.670423     -16.329577

In [103]:
_,pvalue_pairedTtest=stats.ttest_rel(a=weight1,b=weight2)

In [105]:
pvalue_pairedTtest

0.32741095054822

In [106]:
if pvalue_pairedTtest < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis

Chi-sqaure Test

In [51]:
# Null hypothesis: We start by defining our null hypothesis (H0) which states that there is no relation between the variables. 
# Alternate hypothesis: It would state that there is a significant relationship between the two variables. 
from scipy.stats import chi2_contingency

In [100]:
data = [[207,282,241],[243,242,232]]
_,pvalue_chiSquare,_,_ = chi2_contingency(data)

In [101]:
pvalue_chiSquare

0.050077362150887504

In [102]:
if pvalue_chiSquare < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
dataset=sns.load_dataset('tips')

In [2]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
dataset_table=pd.crosstab(dataset['sex'],dataset['smoker'])
print(dataset_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [4]:
dataset_table.values

array([[60, 97],
       [33, 54]], dtype=int64)

In [47]:
stats_res = chi2_contingency(dataset_table)
stats.pvalue

1.0

In [13]:
pvalue=1.0
alpha = 0.05

In [14]:
if pvalue<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Retain H0,There is no relationship between 2 categorical variables

Correlation

In [76]:
import seaborn as sns

In [112]:
iris_data = sns.load_dataset("iris")

In [113]:
iris_data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [128]:
min_sepal_lenght = iris_data["sepal_length"].min()

4.3

In [132]:
Data= iris_data[iris_data["petal_length"]<min_sepal_lenght]

In [133]:
Data["petal_length"].max()

4.2

In [89]:
numeric_df = df.select_dtypes(include=['float64', 'int64'])
numeric_df

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [90]:
numeric_df.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

(Anova)F-Test

In [15]:
#NULLHypo :  The mean petal width is the same across all iris species. mean(setosa)=mean(v)=MEAN(VIRGINICA) 
df1=sns.load_dataset('iris')

In [16]:
df1.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [23]:
df_anova = df1[["petal_width","species"]]

In [21]:
grps = pd.unique(df_anova["species"])
grps

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [32]:
d_data = {}

for grp in grps:
    group_data = df_anova['petal_width'][df_anova.species==grp]
    d_data[grp]=group_data

In [33]:
d_data

{'setosa': 0     0.2
 1     0.2
 2     0.2
 3     0.2
 4     0.2
 5     0.4
 6     0.3
 7     0.2
 8     0.2
 9     0.1
 10    0.2
 11    0.2
 12    0.1
 13    0.1
 14    0.2
 15    0.4
 16    0.4
 17    0.3
 18    0.3
 19    0.3
 20    0.2
 21    0.4
 22    0.2
 23    0.5
 24    0.2
 25    0.2
 26    0.4
 27    0.2
 28    0.2
 29    0.2
 30    0.2
 31    0.4
 32    0.1
 33    0.2
 34    0.2
 35    0.2
 36    0.2
 37    0.1
 38    0.2
 39    0.2
 40    0.3
 41    0.3
 42    0.2
 43    0.6
 44    0.4
 45    0.3
 46    0.2
 47    0.2
 48    0.2
 49    0.2
 Name: petal_width, dtype: float64,
 'versicolor': 50    1.4
 51    1.5
 52    1.5
 53    1.3
 54    1.5
 55    1.3
 56    1.6
 57    1.0
 58    1.3
 59    1.4
 60    1.0
 61    1.5
 62    1.0
 63    1.4
 64    1.3
 65    1.4
 66    1.5
 67    1.0
 68    1.5
 69    1.1
 70    1.8
 71    1.3
 72    1.5
 73    1.2
 74    1.3
 75    1.4
 76    1.4
 77    1.7
 78    1.5
 79    1.0
 80    1.1
 81    1.0
 82    1.2
 83    1.6
 84    1.5
 85    1.6
 86    1.5
 87    1.3
 88    1.3
 89    1.3
 90    1.2
 91    1.4
 92    1.2
 93    1.0
 94    1.3
 95    1.2
 96    1.3
 97    1.3
 98    1.1
 99    1.3
 Name: petal_width, dtype: float64,
 'virginica': 100    2.5
 101    1.9
 102    2.1
 103    1.8
 104    2.2
 105    2.1
 106    1.7
 107    1.8
 108    1.8
 109    2.5
 110    2.0
 111    1.9
 112    2.1
 113    2.0
 114    2.4
 115    2.3
 116    1.8
 117    2.2
 118    2.3
 119    1.5
 120    2.3
 121    2.0
 122    2.0
 123    1.8
 124    2.1
 125    1.8
 126    1.8
 127    1.8
 128    2.1
 129    1.6
 130    1.9
 131    2.0
 132    2.2
 133    1.5
 134    1.4
 135    2.3
 136    2.4
 137    1.8
 138    1.8
 139    2.1
 140    2.4
 141    2.3
 142    1.9
 143    2.3
 144    2.5
 145    2.3
 146    1.9
 147    2.0
 148    2.3
 149    1.8
 Name: petal_width, dtype: float64}

In [56]:
stat_res1 = stats.f_oneway(d_data['setosa'], d_data['versicolor'], d_data['virginica'])
stat_res1.pvalue

4.1694458394430593e-85

In [59]:
df1[df1['species']=="setosa"]

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.2  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.6           1.4          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [61]:
df1.groupby(['species']).mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [65]:
df1.groupby(['species'])[['petal_length','sepal_length']].mean()

            petal_length  sepal_length
species
setosa             1.462         5.006
versicolor         4.260         5.936
virginica          5.552         6.588

In [54]:
print(p)

4.1694458394430593e-85

In [38]:
if p<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

reject null hypothesis